<!--? ARTICOLI -->
<!-- HTML per il rettangolo Articoli -->
<div class="panel">
  <div class="heading">
    <p>Articoli:</p>
  </div>
  <div class="contenitoreArticoli">
    <!-- Campo per inserire il Cod. Articolo / Descrizione -->
    <div class="articoli">
      <label for="articoli">Cod. Articolo: </label><br />
      <input
        type="text"
        id="articoli"
        name="articoli"
        (input)="onInputCod_art($event)"
      />
    </div>

    <!-- Campo per inserire il Tono / Calibro -->
    <div class="tono">
      <label for="tono"> Tono / Calibro: </label><br />
      <input type="text" id="tono" name="tono" (input)="onInputTono($event)" />
    </div>

    <!-- Campo per inserire la Quantità contestata -->
    <div class="qta_cont">
      <label for="qta">Quantità contestata: </label><br />
      <input
        type="text"
        id="qta"
        name="qta"
        (input)="onInputQta_cont($event)"
      />
    </div>

    <!-- Menu a tendina per selezionare l'Unità di misura contestata -->
    <div class="uinita_mis">
      <label for="dropdownUM">U.M contestata: </label><br />
      <select
        class="uinita_mis"
        id="uinita_mis"
        name="uinita_mis"
        (change)="onInputUm_cont($event)"
      >
        <option value="Null"></option>
        <option value="MQ">MQ</option>
        <option value="PZ">PZ</option>
        <option value="CO">CO</option>
      </select>
    </div>

    <!-- Menu a tendina per selezionare se l'articolo è stato Posato o meno -->
    <div class="posato">
      <label>Posato </label>
      <br />
      <select
        class="posato"
        name="posato"
        id="posato"
        (change)="onInputPosato($event)"
      >
        <option value="Null"></option>
        <option value="NO">NO</option>
        <option value="SI">SI</option>
      </select>
    </div>
  </div>
</div>
<!-- HTML per il Form -->
<body>
  <div ng-app="formAdd">
    <div class="cliente-reparto">
      <!-- CLIENTE -->
      <div class="cliente">
        <label for="input1">Cliente</label><br />
        <input type="text" id="input1" (input)="onInputCliente($event)" />
      </div>

      <!-- REPARTO -->
      <div class="reparto">
        <label for="dropdown">Reparto contestazione</label><br />
        <select id="dropdown" (change)="onInputReparto($event)">
          <option value="Null"></option>
          <option value="Produzione">Produzione</option>
          <option value="logistica">Logistica</option>
        </select>
      </div>
    </div>

    <div class="nfattura-dataFattura">
      <!-- NUMERO FATTURA -->
      <div class="num_fattura">
        <label for="input2">Numero fattura</label><br />
        <input type="text" id="input2" (input)="onInputNum_fattura($event)" />
      </div>

      <!-- Selezionatore di data (Datepicker) per la Data della Fattura -->
      <div class="data_fattura">
        <label for="datepicker">Data fattura</label><br />
        <input
          type="date"
          id="datepicker"
          ng-model="selectedDate"
          (change)="onInputData($event)"
        />
      </div>
    </div>
    <div class="bolla-nbuono-nordine">
      <!-- NUMERO BOLLA -->
      <div class="num_bolla">
        <label for="input3">Numero bolla: </label><br />
        <input type="text" id="input3" (input)="onInputNum_bolla($event)" />
      </div>

      <!-- NUMERO BUONO -->
      <div class="num_buono">
        <label for="input4">Numero buono di prelievo: </label><br />
        <input type="text" id="input4" (input)="onInputNum_bolla($event)" />
      </div>

      <!-- ORDINE REPARTO -->
      <div class="num_ordine">
        <label for="input5"
          >Numero ordine del reparto contestazione selezionato:</label
        ><br />
        <input
          type="text"
          id="input5"
          (input)="onInputNum_ordineReparto($event)"
        />
      </div>
    </div>

    <!--? DIFETTOSITA -->
    <!--! Attenzione! devo capire ancora se questo menù a tendina va in base al back oppure è unico per tutte le contestazioni -->
    <!-- Menu a tendina per selezionare la Difettosità -->
    <div class="difettosita">
      <label for="dropdown">Difettosità: </label><br />
      <select
        id="dropdown"
        ng-model="selectedOption"
        (change)="onInputDifettosita($event)"
      >
        <option value="Null"></option>
        <option value="opzione1">Errore qta (in evasione ordine)</option>
        <option value="opzione1">Opzione 1</option>
        <option value="opzione2">Opzione 2</option>
        <option value="opzione3">Opzione 3</option>
        <!-- Aggiungi altre opzioni se necessario -->
      </select>
    </div>

    <!--? DESCRIZIONE -->
    <!-- Campo textarea per inserire la Descrizione del problema -->
    <div class="Descrizione">
      <label for="textarea" class="textarea" id="textarea"
        >Descrizione del problema:</label
      >
      <br />
      <textarea
        id="comment"
        name="comment"
        rows="4"
        cols="50"
        (input)="onInputDescrizione($event)"
      ></textarea>
    </div>

    <!--? STATO -->
    <!-- Menu a tendina per selezionare lo Stato dell'articolo -->
    <div class="stato">
      <label for="dropdown"> Stato </label>
      <br />
      <select id="dropdownStato" (change)="onInputStato($event)">
        <option value="Null"></option>
        <option value="Accettata">Accettata</option>
        <option value="Rifiutata">Rifiutata</option>
      </select>
    </div>
  </div>

  <br />

  <!--? PULSANTI -->
  <div class="table-container">
    <table class="pulsantiAdd">
      <tr>
        <!-- First row: Pulsante per inviare Email -->
        <td colspan="3">
          <div class="containerPulsanti">
            <div>
              <button class="pulsanteMail" type="button">Invia Email</button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <!-- Second row: Other buttons -->
        <td>
          <div class="containerPulsanti">
            <div>
              <button class="pulsanteIndietro" type="button" (click)="goBack()">
                Indietro
              </button>
            </div>
          </div>
        </td>
        <td>
          <div class="containerPulsanti">
            <div>
              <button
                class="pulsanteSalva"
                type="button"
                (click)="confirmCreation()"
              >
                Salva
              </button>
            </div>
          </div>
        </td>
        <td></td>
        <!-- An empty cell to balance the layout -->
      </tr>
    </table>
  </div>
</body>
