//* Definizione delle variabili */
:root {
  --common-width: 300px;
  --common-height: 200px;

}
//*----------------------------------------------------------------

.contenitoreArticoli,
.cliente-reparto,
.nfattura-dataFattura,
.bolla-nbuono-nordine,
.difettosita
{
  display: flex;
  margin: 1%;
  padding: 1%;
}

.panelHeading {
 margin-top: 1%;
 background-color: lightgrey;
}

.contenitoreArticoli, .panelHeading {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.articoli input {
  width: 27rem !important
}

//grandezza casella di input
.contenitoreArticoli input,
.contenitoreArticoli select {
  width: 11rem;
}

.qta_cont input{
  width: 11rem;
}

.cliente-reparto {
  background-color: aqua;
}

.cliente-reparto input{ //lunghezza campo cliente
  width: 43rem;
}

.cliente-reparto select{ //lunghezza campo Reparto Contestazione
  width: 21rem;
}

//serve per separare la casella di input
.reparto,
.data_fattura,
.num_ordine,
.num_buono,
.posato,
.qta_cont,
.uinita_mis,
.tono
{
  margin-left: 2%;
}

.reparto input {
  width: 15rem;
}

.nfattura-dataFattura {
  background-color: brown;
}

.nfattura-dataFattura input{
  width: 21rem;
}


.bolla-nbuono-nordine {
  background-color: blueviolet;
}

.num_ordine input{
  width: 28rem !important
}

.bolla-nbuono-nordine input{
  width: 21rem;
}

input, select {
  width: 20%;
  padding: 0.313rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

label {
  font-weight: 590;
}

//? SCSS ARTICOLI

//? SCSS CLIENTE

//? SCSS REPARTO

//? SCSS NUMERO FATTURA

//? SCSS DATA

//? SCSS NUMERO BOLLA

//? SCSS NUMEORO BUONO

//? SCSS ORDINE REPARTO

//? SCSS DIFETTOSITA

//? SCSS DESCRIZIONE

//? SCSS STATO

//? SCSS MOTIVAZIONE

//? SCSS PULSANTI
//* SCSS formattazione pulsanti <table>
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto !important;
}
//* SCSS pulsanti singoli
.pulsanteMail {
  font-size: 14px; // Adjust the value as needed
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  height: 33px;
  border: none; /* Rimuove i bordi dei pulsanti */
  border-radius: 4px; /* Aggiunge un bordo smussato ai pulsanti */
  cursor: pointer; /* Mostra un cursore a forma di puntatore quando si passa sopra i pulsanti */
  transition: background-color 0.4s ease; /* Aggiunge una transizione di colore di sfondo con durata di 0.3 secondi */
  width: 563px; /* Imposta la larghezza del pulsante*/

  &:hover {
    background-color: darken(
      #0e65b1,
      10%
    ); /* Scure il colore di sfondo del pulsante del 10% al passaggio del mouse */
  }

  &:focus {
    outline: none; /* Rimuove l'outline al pulsante quando è focalizzato */
  }
}




.pulsanteIndietro {
  font-size: 16px; // Adjust the value as needed
  margin-top: 8px;
  margin-right: 13px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  height: 33px;
  border: none; /* Rimuove i bordi dei pulsanti */
  border-radius: 4px; /* Aggiunge un bordo smussato ai pulsanti */
  cursor: pointer; /* Mostra un cursore a forma di puntatore quando si passa sopra i pulsanti */
  transition: background-color 0.4s ease; /* Aggiunge una transizione di colore di sfondo con durata di 0.3 secondi */
  width: 266px; /* Imposta la larghezza del pulsante*/

  &:hover {
    background-color: darken(
      #0e65b1,
      10%
    ); /* Scure il colore di sfondo del pulsante del 10% al passaggio del mouse */
  }

  &:focus {
    outline: none; /* Rimuove l'outline al pulsante quando è focalizzato */
  }
}

.pulsanteSalva {
  font-size: 16px; // Adjust the value as needed
  margin-top: 8px;
  margin-left: 13px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  height: 33px;
  border: none; /* Rimuove i bordi dei pulsanti */
  border-radius: 4px; /* Aggiunge un bordo smussato ai pulsanti */
  cursor: pointer; /* Mostra un cursore a forma di puntatore quando si passa sopra i pulsanti */
  transition: background-color 0.4s ease; /* Aggiunge una transizione di colore di sfondo con durata di 0.3 secondi */
  width: 266px; /* Imposta la larghezza del pulsante*/

  &:hover {
    background-color: darken(
      #5cb85c,
      10%
    ); /* Scure il colore di sfondo del pulsante del 10% al passaggio del mouse */
  }

  &:focus {
    outline: none; /* Rimuove l'outline al pulsante quando è focalizzato */
  }
}
