<!--? Divisione che racchiude tutti input-normali -->
<!--* <div class="input-nrm"> -->

<form>
  <!-- Input di testo -->
  <div class="id_cont">
    <label for="input1">Id contestazione:</label>
    <br />
    <input
      type="text"
      id="myText"
      name="myText"
      (input)="onInputID_cont($event)"
    />
  </div>

  <!-- Datepicker -->
  <div class="data_inz">
    <label for="datepicker1">Data inserimento (inizio):</label>
    <br />
    <input type="date" id="datepicker1" name="datepicker1" />
  </div>

  <div class="data_fine">
    <label for="datepicker2">Data inserimento (fine):</label>
    <br />
    <input type="date" id="datepicker2" name="datepicker2" />
  </div>

  <div class="cod_art">
    <label for="input2">Cod Articolo / Descrizione:</label>
    <br />
    <input type="text" id="input2" name="input2" />
  </div>

  <div class="cliente">
    <label for="input3">Cliente:</label>
    <br />
    <input type="text" id="input3" name="input3" />
  </div>

  <!-- Dropdown menu -->
  <div class="stato">
    <label for="dropdown1">Stato:</label>
    <br />
    <select id="dropdown1" name="dropdown1">
      <option value="opzione0"></option>
      <option value="opzione1">INSERITA</option>
      <option value="opzione2">PRESA IN CARICO</option>
      <option value="opzione3">ACCETTATA</option>
      <option value="opzione4">RIFIUTATA</option>
    </select>
  </div>

  <div class="reparto">
    <label for="dropdown2">Reparto: </label>
    <br />
    <select id="dropdown2" name="dropdown2">
      <option value="opzione0"></option>
      <option value="opzione2">Produzione</option>
      <option value="opzione3">Logistica</option>
    </select>
  </div>

  <div class="formato">
    <label for="dropdown3">Formato: </label>
    <br />
    <select id="dropdown3" name="dropdown3">
      <option value="opzione1">Opzione 1</option>
      <option value="opzione2">Opzione 2</option>
      <option value="opzione3">Opzione 3</option>
    </select>
  </div>

  <div class="utente_crtr">
    <label for="dropdown4"> Utente creatore:</label>
    <br />
    <select id="dropdown4" name="dropdown4">
      <option value="opzione1">Opzione 1</option>
      <option value="opzione2">Opzione 2</option>
      <option value="opzione3">Opzione 3</option>
    </select>
  </div>

  <!-- Pulsanti -->
  <!--! la funzione dei pulsanti deve essere cambiata, faremo OnClick() ->> FunctionCerca() / functionAzzera() -->
  <div class="pulsanti">
    <button type="reset">Azzera</button>
    <button type="submit">Cerca</button>
  </div>
</form>

<button class="ricarica" onclick="location.reload()"> R</button>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Cliente</th>
    <th>Num. Fattura</th>
    <th>Data Fattura</th>
    <th>Stato</th>
    <th>Utente Creazione</th>
    <th>Data Creazione</th>
    <!-- <th>Reparto</th>
    <th>Articoli</th> -->
    <th>Azioni</th> <!-- Aggiungi una nuova colonna per i pulsanti -->
  </tr>
  <tr *ngFor="let con of datasource">
    <td>{{ con.id }}</td>
    <td>{{ con.company }}</td>
    <td>{{ con.num_fattura }}</td>
    <td>{{ con.data_fattura }}</td>
    <td>{{ con.stato }}</td>
    <td>{{ con.utente_creazione }}</td>
    <td>{{ con.data_creazione }}</td>
    <td>
      <button class="azione-btn">M</button> <!-- Pulsante per Modifica (M) -->
      <button class="azione-btn">D</button> <!-- Pulsante per Elimina (D) -->
      <button class="azione-btn">
        <img src="src\main\resources\image\reload.png">
      </button>
    </td>
  </tr>
</table>