//? SCSS per i componenti input normali (text_input)
//* Stile barre di ricerca - caselle di input
input {
  border: 1px solid rgb(174, 174, 174); /* Imposta il bordo con spessore 1px e colore nero */
  border-width: 1px; /* Imposta lo spessore del bordo */
  border-radius: 3px; /* Imposta il raggio di bordo  */
  padding: 4px; /* Imposta il padding interno del campo di input */
  font-size: 14px; /* Imposta la dimensione del testo nell'input */
  height: 15px;
  width: 173px;
}
input:focus //è possibile modificare l'aspetto degli elementi quando sono in stato di focus attivo.
{
  outline: none; /* Rimuove l'outline predefinito quando il campo è in stato di focus */
  border-width: 1px; /* Imposta lo spessore del bordo a 1px quando il campo è in stato di focus */
}
label {
  font-size: 13px;
  font-weight: 450;
}
// Mettere in riga gli elementi
// Elenco degli elementi da ordianre
.input-cont,
.input-cod_articolo,
.input-cliente {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px; /* opzionale: aggiunge uno spazio tra i due elementi */
}

//----------------------------------------------------------------

//? SCSS per i componenti input calendario (calendar_input)
// mat-form-field {
//   font-size: 12px; /* Imposta la dimensione del testo del form field */
//   padding: 4px; /* Imposta il padding interno del form field */
// }
// mat-form-field mat-label {
//   font-size: 14px; /* Imposta la dimensione del testo dell'etichetta */
// }
// mat-form-field input {
//   height: 20px; /* Imposta l'altezza dell'input field */
//   font-size: 12px; /* Imposta la dimensione del testo dell'input field */
// }

// mat-datepicker-toggle{
//   height: 2px!important;
// }

// .calendario{
//   height: 15px;
//   width:173px;
// }

//? SCSS per la tabella

.table {
  border: 1px solid #f5f5f5; /* Bordo in grassetto */
  width: 90%; /* Larghezza ridotta */
  margin: 0 auto; /* Centratura orizzontale */
  border-radius: 10px;
}

/* CSS per le righe dispari */
.table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* CSS per le righe pari */
.table tr:nth-child(even) {
  background-color: #ffffff;
}

/* CSS per le celle della colonna con linea di divisione */
.table td {
  border: 1px solid #dddddd;
}

/* CSS per l'intestazione delle colonne con linea di divisione */
.table th {
  padding: 8px;
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
}

.table tr {
  height: 20px; /* Altezza desiderata per le righe */
}
