//----------------------------------------------------------------
//? SCSS per i componenti input normali (text_input)
//* Stile barre di ricerca - caselle di input
input {
  border: 1px solid rgb(174, 174, 174); /* Imposta il bordo con spessore 1px e colore nero */
  border-width: 1px; /* Imposta lo spessore del bordo */
  border-radius: 3px; /* Imposta il raggio di bordo  */
  padding: 4px; /* Imposta il padding interno del campo di input */
  font-size: 14px; /* Imposta la dimensione del testo nell'input */
  height: 15px;
  width: 173px;
}
input:focus //è possibile modificare l'aspetto degli elementi quando sono in stato di focus attivo.
{
  outline: none; /* Rimuove l'outline predefinito quando il campo è in stato di focus */
  border-width: 1px; /* Imposta lo spessore del bordo a 1px quando il campo è in stato di focus */
}
label {
  font-size: 13px;
  font-weight: 450;
}
// Mettere in riga gli elementi
// Elenco degli elementi da ordianre
.input-cont,
.input-cod_articolo,
.input-cliente {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px; /* opzionale: aggiunge uno spazio tra i due elementi */
}

//----------------------------------------------------------------
//? SCSS per i componenti calendario

//----------------------------------------------------------------
//? SCSS per la tabella
.table {
  width: 100%; /* Imposta la larghezza della tabella al 100% del suo contenitore */
  border-collapse: collapse; /* Comprime i bordi delle celle in modo che si uniscano */

  th,
  td {
    padding: 8px; /* Aggiunge un padding di 8 pixel alle celle del titolo e del contenuto */
    text-align: left; /* Allinea il testo delle celle a sinistra */
    border-bottom: 1px solid #ddd; /* Aggiunge un bordo inferiore di 1 pixel alle celle */
  }

  th {
    background-color: #f2f2f2; /* Imposta il colore di sfondo del titolo */
  }

  tr:nth-child(even) {
    background-color: #f2f2f2; /* Imposta il colore di sfondo delle righe pari */
  }

  tr:hover {
    background-color: #f1f1f1b7; /* Imposta il colore di sfondo delle righe al passaggio del mouse */
  }
}

//----------------------------------------------------------------
//! SCSS prova per form
form {
  display: flex;
  flex-wrap: wrap;
  
}

.id_cont,
.data_inz,
.data_fine,
.cod_art,
.cliente,
.stato,
.reparto,
.formato,
.utente_crtr,
.pulsanti {
  flex-basis: 50%;
  padding: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
//----------------------------------------------------------------
//? SCSS per i pulsanti cerca e Azzera
.pulsanti {


  button[type="reset"],
  button[type="submit"] {
    background-color: #337ab7; /* Imposta il colore di sfondo dei pulsanti */
    color: #fff; /* Imposta il colore del testo dei pulsanti a bianco */
    padding: 8px 16px; /* Aggiunge un padding di 8px in verticale e 16px in orizzontale ai pulsanti */
    border: none; /* Rimuove i bordi dei pulsanti */
    border-radius: 4px; /* Aggiunge un bordo smussato ai pulsanti */
    cursor: pointer; /* Mostra un cursore a forma di puntatore quando si passa sopra i pulsanti */
    transition: background-color 0.3s ease; /* Aggiunge una transizione di colore di sfondo con durata di 0.3 secondi */
    margin-right: 10px; /* Aggiunge uno spazio di 10px tra i pulsanti */ 
    width: 200px; /* Imposta la larghezza del pulsante*/
    &:hover {
      background-color: darken(
        #337ab7,
        10%
      ); /* Scure il colore di sfondo del pulsante del 10% al passaggio del mouse */
    }

    &:focus {
      outline: none; /* Rimuove l'outline al pulsante quando è focalizzato */
    }
  }
}
