//----------------------------------------------------------------
//? SCSS per i componenti calendario

//----------------------------------------------------------------
//? SCSS per la tabella
.table {
  width: 95%; /* Imposta la larghezza della tabella al 100% del suo contenitore */
  border-collapse: collapse; /* Comprime i bordi delle celle in modo che si uniscano */
  margin: 0 auto; /* Imposta il margine sinistro e destro a "auto" per centrare la tabella orizzontalmente */
  margin-bottom: 20px; /* Aggiunge 20 pixel di spazio tra la tabella e la fine della pagina */
  border-radius: 10px;
  // margin-top: 20px;

  th,
  td {
    padding: 8px; /* Aggiunge un padding di 8 pixel alle celle del titolo e del contenuto */
    text-align: left; /* Allinea il testo delle celle a sinistra */
    border-bottom: 1px solid #ddd; /* Aggiunge un bordo inferiore di 1 pixel alle celle */
  }

  th {
    font-weight: 570;
    background-color: #f2f2f2; /* Imposta il colore di sfondo del titolo */
  }

  tr:nth-child(even) {
    background-color: #f2f2f2; /* Imposta il colore di sfondo delle righe pari */
  }

  tr:hover {
    background-color: #f1f1f1b7; /* Imposta il colore di sfondo delle righe al passaggio del mouse */
  }

  .rigavuota {
    margin-bottom: 40%;
    height: 100px !important;
  }
}

//----------------------------------------------------------------
//! SCSS prova per form
form {
  display: grid;
  grid-template-rows: repeat(2, 1fr); // Two rows with equal height
  grid-template-columns: repeat(4, 1fr); // Four columns with equal width
}

.id_cont,
.data_inz,
.data_fine,
.cod_art,
.cliente,
.stato,
.reparto,
.formato,
.utente_crtr,
.pulsanti {
  flex: 50%;
  padding: 0px;
  margin: 5px; // Adjust the margin between each container
}

$common-width: 200px;

input[type="text"],
input[type="date"] {
  width: $common-width;
  /* Add any other common styling for the input elements here */
}

.mioPadre {
  width: 212px;
}

.cod_art_input {
  width: 500px !important;
}
label {
  font-weight: 550; /* Imposta il grado di grassetto a 600 */
}

input,
select {
  width: 20%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
//----------------------------------------------------------------
//? SCSS per i pulsanti cerca e Azzera
.pulsanti {
  button[type="reset"],
  button[type="button"] {
    background-color: #337ab7; /* Imposta il colore di sfondo dei pulsanti */
    color: #fff; /* Imposta il colore del testo dei pulsanti a bianco */
    padding: 8px 16px; /* Aggiunge un padding di 8px in verticale e 16px in orizzontale ai pulsanti */
    border: none; /* Rimuove i bordi dei pulsanti */
    border-radius: 4px; /* Aggiunge un bordo smussato ai pulsanti */
    cursor: pointer; /* Mostra un cursore a forma di puntatore quando si passa sopra i pulsanti */
    transition: background-color 0.3s ease; /* Aggiunge una transizione di colore di sfondo con durata di 0.3 secondi */
    margin-right: 10px; /* Aggiunge uno spazio di 10px tra i pulsanti */
    width: 200px; /* Imposta la larghezza del pulsante*/

    &:hover {
      background-color: darken(
        #337ab7,
        10%
      ); /* Scure il colore di sfondo del pulsante del 10% al passaggio del mouse */
    }

    &:focus {
      outline: none; /* Rimuove l'outline al pulsante quando è focalizzato */
    }
  }
}
//----------------------------------------------------------------
//? SCSS per il menù scelta delle ceramiche
#scelta-aziende {
  position: absolute; /*
  top: 50px; /* Regola la distanza dall'alto come desiderato */
  right: 50px; /* Regola la distanza dalla destra come desiderato */
  width: 5%;
}

//-----------------------
a {
  cursor: pointer;
}

//----------------------------------------------------------------
//* SCSS per la riga di aggiornamento tabella
.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;

}

.custom-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 94%;
  justify-content: flex-end; /* Modifica per allineare a destra */
}

.custom-box img {
  max-width: 100px;
  margin-right: 10px;
}

.custom-box button {
  padding: 8px 16px;
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-box button:hover {
  background-color: darken(#337ab7, 10%);
}
