<!-- Scelta delle Ceramiche -->
<br />
<div class="scelta-azienda">
  <select id="scelta-aziende">
    <option value="rondine">Rondine</option>
    <option value="elios">Elios</option>
    <option value="fabbrica">Fabbrica</option>
    <option value="fondovalle">Fondovalle</option>
  </select>
  <br />
</div>
<!-- -------------------------------------------------------------------------- -->
<!--? Form -->
<form>
  <div class="id_cont">
    <label for="input1">Id contestazione:</label>
    <br />
    <input
      type="text"
      id="myText"
      name="myText"
      (input)="onInputID_cont($event)"
    />
  </div>

  <div class="data_inz">
    <label for="datepicker1">Data inserimento (inizio):</label>
    <br />
    <input type="date" (change)="salvareValoreDateIni($event)" />
  </div>

  <div class="data_fine">
    <label for="datepicker2">Data inserimento (fine):</label>
    <br />
    <input type="date" (change)="salvareValoreDateOut($event)" />
  </div>

  <div class="cod_art">
    <label for="input2">Cod Articolo / Descrizione:</label>
    <br />
    <input
      type="text"
      id="myText"
      name="myText"
      (input)="onInputCod_art($event)"
    />
  </div>

  <div class="cliente">
    <label for="input3">Cliente:</label>
    <br />
    <input
      type="text"
      id="myText"
      name="myText"
      (input)="onInputCliente($event)"
    />
  </div>

  <div class="stato">
    <label for="dropdown1">Stato:</label>
    <br />
    <select id="dropdown1" name="dropdown1" (change)="sceltaStato($event)">
      <option value="Null"></option>
      <option value="INSERITA">INSERITA</option>
      <option value="PRESA IN CARICO">PRESA IN CARICO</option>
      <option value="ACCETTATA">ACCETTATA</option>
      <option value="RIFIUTATA">RIFIUTATA</option>
    </select>
  </div>

  <div class="reparto">
    <label for="dropdown2">Reparto: </label>
    <br />
    <select id="dropdown2" name="dropdown2">
      <option value="opzione0"></option>
      <option value="opzione2">Produzione</option>
      <option value="opzione3">Logistica</option>
    </select>
  </div>

  <div class="id_cont">
    <label for="dropdown3">Formato: </label>
    <br />
    <select id="dropdown3" name="dropdown3">
      <option value="opzione1">Opzione 1</option>
      <option value="opzione2">Opzione 2</option>
      <option value="opzione3">Opzione 3</option>
    </select>
  </div>

  <div class="utente_crtr">
    <label for="dropdown4"> Utente creatore:</label>
    <br />
    <select id="dropdown4" name="dropdown4">
      <option value="opzione1">Opzione 1</option>
      <option value="opzione2">Opzione 2</option>
      <option value="opzione3">Opzione 3</option>
    </select>
  </div>

  <!-- Pulsanti -->
  <!--! la funzione dei pulsanti deve essere cambiata, faremo OnClick() ->> FunctionCerca() / functionAzzera() -->
  <div class="pulsanti">
    <button type="reset">Azzera</button>
    <button type="button" onclick="getContestationById(valoreID_cont)">Cerca</button>

  </div>
</form>

<!-- Tasto per ricaricae la pagina -->
<button class="ricarica" onclick="location.reload()">Ricarica Pagina</button>
<br />

<br />
<table class="table">
  <tr>
    <th>ID</th>
    <th>Cliente</th>
    <th>Num. Fattura</th>
    <th>Data Fattura</th>
    <th>Stato</th>
    <th>Utente Creazione</th>
    <th>Data Creazione</th>
    <th>Reparto</th>
    <th>Articoli</th>
    <th></th>
    <!-- Aggiungi una nuova colonna per i pulsanti -->
  </tr>
  <tr *ngFor="let con of datasource">
    <td>{{ con.id }}</td>
    <td>{{ con.cod_cliente }} - {{ con.company }}</td>
    <td>{{ con.num_fattura }}</td>
    <td>{{ con.data_fattura }}</td>
    <td>{{ con.stato }}</td>
    <td>{{ con.utente_creazione }}</td>
    <td>{{ con.data_creazione }}</td>54
    <td>Vuoto</td>
    <td>Vuoto</td>
    <td>
      <!-- bottone per scaricale le contestazioni -->
      <a><img src="/assets/images/scarica.png" (click)="bottoneScarica()"></a>

      <!-- Verifica se il campo "stato" è uguale a "ACCETTATA" o "RIFIUTATA" -->
      <ng-container *ngIf="con.stato === 'accettata' || con.stato === 'rifiutata'">
        <a><img src="/assets/images/visualizza.png" (click)="bottoneVisualizza()"></a>
      </ng-container>

      <!-- Mostra i botton di modifica ed eliminazione se lo stato è "presa in carico" -->
      <ng-container *ngIf="con.stato === 'presa_in_carico'">
        <a><img src="/assets/images/modifica.png" (click)="bottoneModifica()"></a>
        <a><img src="/assets/images/elimina.png" (click)="bottoneElimina(con.id)"></a>
      </ng-container>

    </td>
  </tr>
  <tr class="rigavuota">
    <td colspan="10"></td>
  </tr>
</table>
